@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--accent: rgb(230, 87, 255);
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.width_to_center {
		@apply max-w-[1200px] mx-auto;
	}
	.accent_with_fade {
		@apply bg-accent-default hover:bg-[rgb(196,67,219)] transition-colors duration-150 ease-linear;
	}
	.grid_layout {
		@apply grid grid-cols-2 gap-2 lg:grid-cols-[repeat(auto-fill,minmax(250px,1fr))] lg:gap-5;
	}
}
